/*--------- Estilos Tablet ---------*/
@media only screen and (min-width:768px){

    /* header {position: fixed;} */

    .title-page {background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0)50%);}

    .polygon-title {clip-path: polygon(0 4%, 20% 4%, 25% 29%, 75% 29%, 80% 4%, 100% 4%, 100% 71%, 80% 71%, 75% 96%, 25% 96%, 20% 71%, 0 71%);} 
    .polygon-title-border {clip-path: polygon(0 0, 20% 0, 25% 25%, 75% 25%, 80% 0, 100% 0, 100% 75%, 80% 75%, 75% 100%, 25% 100%, 20% 75%, 0 75%);}

    .polygon-title h1 {
        font-size: 2em;
        padding: 3% 0 1% 0;
    }

    main::-webkit-scrollbar{
        width: 10px;
        background: #414141;
    }

    main::-webkit-scrollbar-thumb{
        background: #9c9c9c;
        border-radius: 7px;
    }
    
    .search-filter-container {
        width: 100%;
        position: fixed;
        background-image: linear-gradient(rgb(0, 0, 0)80%, rgba(18, 17, 41, 0));
    }
    
    .search-filter {
        width: 80%;
        margin: auto;
        border: solid #523D24;
        position: initial;
        background-color: rgba(242, 229, 214, 0.16);
        margin-top: 3%;
        margin-bottom:3%;
    }

    .filter-input, .search::placeholder {font-size: 1.2em;}
    
    .card-champions {padding: 15% 0 40% 0;}

    .card {
        width:250px; 
        min-height:300px;
    }

    .name-title-container h2 {font-size: 2em;}

    .name-title-container p {
        font-size: 1em;
        padding-bottom: 7%;
    }
    
/*  #nav-mobile-tablet li {font-size: 1.1em;}
    #nav-mobile-tablet ul {height: 7%;} */
}

/*--------- Estilos Desktop ---------*/
@media only screen and (min-width:1025px){
    #nav-mobile-tablet, .polygon-title h1 {display: none;}

    main {
        background-repeat: no-repeat;
        background-size: cover;
        overflow-y: hidden;
        /* height: 80%; */
    }

    /* Header */
    .header {height: 20vh;}

    .logo-Lol {
        width: 15%;
        height: 15%;
        padding: 2% 6% 2% 0;
    }
    
    #nav-desktop {display: block;}

    #nav-desktop ul {
        display: flex;
        justify-content: space-around;
    }

    #nav-desktop li {
        list-style-type: none;
        font-family:'PT Serif';
        font-size: 1.6em;
        text-transform: uppercase;
    }

    a {text-decoration: none; color:#F2E5D6;}
    a:hover {color: #B48030;}
    
    #nav-desktop .home-play {padding-top:10px}
    
    #nav-desktop .champions-rails {
        padding-top: 30px;
        padding-bottom: 10px;
    }

    .title-page {position: relative;}

    .imageL-container {
        display:block;
        position: absolute;
        background: url("images/lolIconL.png") no-repeat center;
        background-size: cover;
        width: 65px;
        height: 65px;
        top: 15%;
        left: 48%;
    }

    /* Champions Section */
    #champions-page{height: 74vh; padding-top: 3.5%;}

    .title-page-desktop {display: block;}
    h1.title-page-desktop {font-size: 2.3em;}
    p.title-page-desktop {font-size: 1em; padding-top: 1%;}
    
    /* Search*/

    .search-filter-cards {
        display: flex;
        margin: 3% 3% 0 3%;
        justify-content: space-around;
        align-self: flex-start;
    }

    .search-filter-container {
        width: 15%;
        position: initial;
        background-image: none;
    }

    .search-filter {
        display:flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: transparent;
        border-style: none;
        justify-content: flex-start;
        width: 100%;
        padding: 0;
        margin: 0;
        position: initial;
    }

    .filter-input, .search-input {
        width: 100%;
        max-width: 200px; 
        height: 30px;
        margin-bottom:10%;
    }

    .search, .filter-input {background-color: rgba(242, 229, 214, 0.16);}

    /* .filter-tags-desktop, .roles{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Merriweather';
    }   .filter-tags-desktop {display: block;} 

    .filter-tags-desktop h2 {color: #E9CA7B; font-size: 1.5em;}
    .filter-tags-desktop div {color: #F2E5D6; font-size: 1em;}

    .roles {padding-top: 5%;} */

    /* Cards */
    .card {
        width:180px; 
        min-height: 200px;
        margin: 0 0 2% 2%;
    } 

    .card-champions {
        padding: 0 0 0 0;
        width: 80%;
        overflow:auto;
        overflow-x: hidden;
        max-height: 480px;  
    }

    .card-champions::-webkit-scrollbar{
        width: 10px;
        background: #414141;
    }

    .card-champions::-webkit-scrollbar-thumb{
        background: #9c9c9c;
        border-radius: 7px;
    }

    /* Footer*/
    footer .made-it {display: block;}

    footer {
        border-top: solid #cb954a; 
        background-color:#0F151D;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 6vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    } 

    #nav-social-media {display: block;}

    #nav-social-media ul {
        display: flex;
        list-style-type:none;
    }
    
    #nav-social-media li {margin: 0 10%;}
    #nav-social-media i {font-size: 2em;}
}  