* {margin: 0; padding: 0;}

body {
    color: #F2E5D6;
    font-family: 'Merriweather';
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
}

main {
    height: 100%;
    background: url(images/lolBg.jpg) top;
    overflow-y: scroll;
}

/*--------- Estilos Header ---------*/
header {
    background: url(images/lolBgHeaderV2.jpg) no-repeat center;
    background-size: cover;
    text-align: right;
    width: 100%;
}

.logo-Lol {
    width: 25%;
    height: 25%;
    padding: 5% 5% 2% 0;
}

.polygon-title-border {
    width: 100%;
    clip-path: polygon(0 0, 10% 0, 20% 40%, 80% 40%, 90% 0, 100% 0, 100% 100%, 0 100%);
    background-color: #cb954a;
}

.polygon-title {
    width: 100%;
    position: inherit;
    clip-path: polygon(0 4%, 10% 4%, 20% 44%, 80% 44%, 90% 4%, 100% 4%, 100% 96%, 0 96%);
    background-color: #0F151D;
}

.polygon-title h1 {
    font-family:'PT Serif';
    font-size: 1.6em;
    text-align: center;
    padding: 8% 0 1% 0;
}

#nav-desktop, .imageL, .filter-tags-desktop {display: none;}

/*--------- Estilos Search + Filter ---------*/
.search-filter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color:  #0F151D;
    border-bottom: 2px solid #523D24;
    padding: 2% 0; 
    position: fixed;
}

.filter-input {
    background-color: transparent;
    border: 2px solid #523D24;
    border-radius: 5px;
    width: 30%;
    font-family: 'Merriweather';
    color: #E9CA7B;
    font-size: 1em; /*[--> FALTA FONT-SIZE OPTION]*/
}

.search-input {position: relative; border: none; width: 30%;}

.search-input i {
    position: absolute; 
    right:8px; 
    top: 3px;
    color: #E9CA7B;
}

.search {
    width: 100%;
    background-color: transparent;
    border: 2px solid #523D24;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Merriweather';
    color: #E9CA7B; 
}

.search::placeholder {
    color: #E9CA7B;
    padding-left: 8px;
}

/*--------- Estilos Section Champions + Cards ---------*/
#champions-page {box-sizing: border-box;}
#champions-title {display:none}

.card-champions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 15% 0 50% 0;
}

.card {
    display: flex;
    align-items: flex-end; 
    width:150px; 
    min-height:200px;
    margin-bottom: 5%;
    border: solid #CB954A;
    background-position: center;
    background-size: cover;
}

.name-title-container {
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0) 60%);
}

.name-title-container h2 {
    font-family: 'PT Serif';
    font-size: 1.3em;
    text-shadow: 1.3px 1.3px #523D24;
    padding-bottom: 2%;
}

.name-title-container p {
    font-size: 0.8em;
    padding-bottom: 5%;
}

/*--------- Estilos Footer ---------*/
footer .made-it {display: none;}

#nav-mobile-tablet ul {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:9%;
    list-style-type:none;
    background-color:#0F151D;
    border-top: solid #cb954a; 
}

#nav-mobile-tablet li {font-size: 0.6em;}

#nav-mobile-tablet img {
    width: 40%;
    height: 40%;
}

#nav-social-media {display: none;}

/*--------- DOM ---------*/
.hidden {display: none;}

/*--------- ESTILOS LANES ---------*/
.title-page-container h1 {font-size: 2.3em;}
.title-page-container p {font-size: 1em; padding-top: 1%;}

.lanes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: green; */
}

.filter-lane {
    margin: 3% 0;
}

.mapSummonerRift{
    width: 360px;
    height: 300px;
    background: url(images/mapLanes.jpg) no-repeat center;
    background-size: cover;
    border: solid #CB954A;
}

#map-page, .cards-lanes-container {padding-top: 3.5%;}

.cards-lanes-container h1 {padding-bottom: 2%;}

/* Cards Top 5*/
.card-champions-lanes{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}